* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
#header {
    margin: 10px auto;
    width: 550px;
    height: 285px;
    background-color: #6943FF;
    color: white;

}
h1 {
    display: inline-block;
    margin: 33px 50px 0 51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.03em;
}
input {
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: #6943FF;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
button {
    cursor: pointer;
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    margin-top: 25px;
}
#body {
    margin: 10px auto;
    background: #1F2937;
    width: 550px;
    height: 729px;

}
div {
    width: 500px;
    height: 108.57px;
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #CCC1FF;
    display: inline-block;
    margin: 31px auto 9px;
}
p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

}